{% extends 'base.html' %}
{% block title %} Add Match {% endblock %}
{% block current_player %}Welcome <b> {{current_player.nick}}</b>{% endblock current_player %}
{% block content %}
    <h4>Add match</h4>
    <form class="text-center mt-5 mb-1" action="" method="POST" autocomplete="on">
        {% csrf_token %}
        <input type="hidden" name="player_id" value="{{current_player.id}}"/>
        {{match_form.as_p}}
        <input class="btn btn-success" type="submit" value="Add" title="add"/>
        <a  class="btn btn-primary" href="{% url 'crud' current_player.id %}">
            return back to matches
        </a>
    </form>
      
{% endblock content %}