<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}
    {% endblock title %}</title>
    <meta name="description" content="Django  poker game app">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
</head>
<header>
    <h2>POKER DJNAGO-APP</h2>
    <p class="current_player">{% block current_player %}
    {% endblock current_player %}
    {% block exit %}
    {% endblock exit %}
</header>
<body>
{% block content %}
{% endblock content %}
 <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg="nest"></script>
</body>
</html>
