{% extends 'base.html' %}
{% block title %} Edit Match {% endblock %}
{% block current_player %}Welcome <b> {{current_player.nick}}</b>{% endblock current_player %}
{% block content %}
    <h1>Edit Car</h1>
    
    <form action="" method="POST" autocomplete="on">
        {% csrf_token %}
        <input type="hidden" name="player_id" value="{{current_player.id}}"/>
        {{match_form}}
        <input type="submit" value="edit" title="edit"/>
    </form>
    <a class="button" href="{% url 'crud' current_player.id %}">
        return back to matches
    </a>
    

{% endblock content %}