{% extends 'base.html' %}
{% block title %}{{ Login }}{% endblock %}
{% block content %}
{% if error %}
        <script>
            alert('Error:\nThe user does not exist\nPlease register a new one');
        </script>
{% endif %}
    <h1>LOGIN</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{login_form.as_p}}
        <input type="submit" value="submit" title="login">
    </form>
    <a class="button" href="{% url 'signin' %}">
        Dont have an account?
    </a>
{% endblock content %}