{% extends 'base.html' %}
{% block title %} Sign in {% endblock %}
{% block content %}
{% if error %}
        <script>
            alert('Error:\nThe user does not exist\nPlease register a new one');
        </script>
{% endif %}
    <h4>Sign in</h4>
    <form class="text-center mt-5 mb-1" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{sign_inform.as_p}} 
    <input class="btn btn-success" type="submit" value="submit" title="login">
    <a class="btn btn-primary" href="{% url 'index' %}">
        I have a acount !!
    </a>
    </form>
{% endblock content %}